<% @places.each do |place| %>

<!-- or custom pagination -->


  <div class="booyah-box col-10 offset-1 will_paginate">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>

<% end %>
<%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>
